extends admin_layout

block content
  h2 Hold Up...

  if message
    p(style="color: red; font-weight: bold") #{message}

  form#loginForm(action="/login", method="post")
    label(for="password") Password
    input#password(name="password", placeholder="Open Sesame!", type="password")