extends layout

block content
  article
    h2 
      a(href="/blog/#{post.slug}", title="#{post.title}", style="text-underline: none; border: solid 0px transparent") #{post.title}
    .content!= post.content
    a.button(href="/blog", title="Back to blog") Back to blog
  
  section.postComments
    br
    div#disqus_thread
    | <script type="text/javascript">
    |   /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    |   var disqus_shortname = 'jacobgableblog'; // required: replace example with your forum shortname

    |   /* * * DON'T EDIT BELOW THIS LINE * * */
    |  (function() {
    |       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    |       dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    |       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    |   })();
    | </script>
    noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    a(href="http://disqus.com", class="dsq-brlink") comments powered by <span class="logo-disqus">Disqus</span>

  