extends layout

block content
  h2 About Me
  p I'm a developer currently living in Chicago, IL.  If the Sears Tower fell over, it would land on my building.  I grew up in Kentucky, moved to Boston for a bit and then landed in Chicago after my daughter was born.
  p I've been doing mostly .Net / C# in small, medium and large consulting shops since 2005.  Most recently, that's meant a lot of MVC and JavaScript.  
  p You can see more of my work at my Github account at the top of the page.  Or, if you'd like to woo me for some awesomely fantastic position you have available, take a look at my <a href="http://careers.stackoverflow.com/jacob4u2" title="Jacob Gable's Resum&eacute;" target="_blank">Resum&eacute;</a>.
  p &nbsp;
  a.button(href="mailto:jacob.gable@gmail.com", title="Contact Jacob Gable") Contact Me
  p &nbsp;