extends layout

block content
  h2 Projects
  p I'm usually screwing around with something.  Here recently it's been mostly web stuff.  Most of these have github links, some of them I just haven't gotten around to putting up the source yet.

  h3 Discolytics
  a(href="http://discolytics.com", title="HTML5 Offline App Analytics", target="_blank") http://discolytics.com
  p An HTML5 Offline App analytics library.  Created as a solution to a problem I had when creating a large HTML5 Offline App for McDonalds.

  h3 Twilio Powered Magic 8-Ball
  a(href="http://8ball.apphb.com", title="The all knowing magical 8-ball", target="_blank") http://8ball.apphb.com
  p An 8-Ball style question answerer.  You can call or text a question to <a href="tel:3126983678">(312) 698-3678</a> and it will give you an answer.  This was created as a way to get familiar with <a href="http://twilio.com">Twilio's</a> API.

  h3 Snappers Solver
  a(href="http://snapperssolver.apphb.com/", title="Snappers IPad Game Solver", target="_blank") http://snapperssolver.apphb.com/
  p A solver for the IPad game <a href="http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CEEQFjAA&url=http%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fsnappers-hd%2Fid486843920%3Fmt%3D8&ei=V7X0T5HZGMHArQG47bjsAw&usg=AFQjCNFWRxXeyyMWDREAB-uzBucqEp6myQ&sig2=lNVfw0a9GEzsm4vWkwzvJw" title="Snappers HD IPad Game">Snappers</a> that was part of a tech challenge we did at Clarity Consulting.  It utilizes MailGun to allow a person to snap a picture of their IPad while playing the game and send it to an email address where the solution will be emailed back to them.

  h3 Kwery.js
  a(href="http://jgable.github.com/jquery-kwery", title="Kwery.js HTML5 WebSql Wrapper", target="_blank") http://jgable.github.com/jquery-kwery
  p A lightweight, minimal wrapper around webSql for HTML5 apps.